body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


li {
    margin:10px;
}

.glyphicon {
    color: black;
}

p {
    margin: 10px 0 10px;
}

.input-group-btn {
    width:auto;
}

.table {
    margin:0;
}

.well {
    margin-top:40px;
    box-shadow: 10px 10px 5px #888888;
}

h1, h2 {
    margin-bottom:0;
    margin-top:0;
    margin-left:22px;
}

h3 {
    margin-left:40px;
}

dl {
    margin-left: 20px;
}

#stats {
    font-family: 'Burned Letters by  Marta van Eck';
    margin-top:200px;
    margin-left:650px;
    color:black;
    font-weight:bold;
    transform:skewY(8deg);
}
@font-face {
    font-family: 'Drift___';
    src: url('../fonts/Drift___.ttf') format('truetype');
}
@font-face {
    font-family: 'Burned Letters by  Marta van Eck';
    src: url('../fonts/Burned Letters by  Marta van Eck.ttf') format('truetype');
}
.form-horizontal .form-group {
    margin-top:20px;
    margin-left:15px;
    margin-right:5px;
}

.form-horizontal {
    margin-top:20px;
}
.form-actions .no-color{
    padding-bottom:20px;
}

@media (min-width: 1200px) {
    .container .navbar {
       
        margin: 0 auto;
    }
}

.panel {
    margin-top:20px;
}

@media (min-width: 768px) {

    .navbar-nav {
        float:right;
        padding-top:13px;
    }
 
    .container .navbar
    {
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .col-md-2 {
            padding-left: 3px;
            padding-right:10px;
    }
}

#buttons {
    float:right;
    margin:5px;
    margin-top:0;
    margin-bottom:0;
}

.jumbotron {
    margin-top:20px;
    position: relative;
    background: #000 url('/Images/Nice.jpg') center center;
    width: 100%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    box-shadow: 10px 10px 5px #888888;
}